@charset "utf-8";

/*
   RedHawk Xonomy Test
   Author: Tu Tong
   Date:   Mar 24, 2019

   Filename: rha_style.css
	
*/

.main-container {
    margin: 0 0 0 5rem;
    /* outline: solid 1px gray; */
}